html, body {
	margin: 0;
	padding: 0;
}

html {
	font-size: 10px;
	font-family: sans-serif;
}

canvas {
	display: block;
	margin: 0 auto;
	border: 1px solid black;
}

div {
	width: 80%;
	margin: 0 auto;
}

h1 {
  font-size: 3.6rem;
}

p {
  font-size: 1.7rem;	
}