html, body {
  margin: 0;
  padding: 0;
  font-size: 10px;
  font-family: 'Coustard', serif;
}

h1 {
  text-align: center;
  font-weight: 900;
  font-size: 4rem;
}

section {
  max-width: 640px;
  margin: 0 auto;
}

figure {
  width: 100%;
  margin: 0;
}

img {
  width: 100%;	
}

caption {
  display: block;
  margin: 0 auto;
  width: 70%;
  font-size: 1.2rem;
}