#contents {
	width: 600px;
	font: 14px "Open Sans", sans-serif;
}

#credits {
	padding: 0 0 10px 0;
	font: italic 10px "Open Sans", sans-serif;
}

#in-pip-message {
	display: none;
}

@media (display-mode: picture-in-picture) and (prefers-color-scheme: light) {
	body {
		background: antiquewhite;
	}
}

@media (display-mode: picture-in-picture) and (prefers-color-scheme: dark) {
	body {
		background: #333;
	}

	a {
		color: antiquewhite;
	}
}
