#contents {
  width: 600px;
  font:
    14px "Open Sans",
    sans-serif;
}

#credits {
  padding: 0 0 10px 0;
  font:
    italic 10px "Open Sans",
    sans-serif;
}

#in-pip-message {
  display: none;
}
