button,
select,
label {
  font-weight: 400;
  line-height: 1.5;
  font-size: 1rem;
  font-family: sans-serif;
}

button,
select {
  padding: 6px 12px;
  text-align: center;
  background-color: transparent;
  border-radius: 0.25rem;
}

button {
  color: #0d6efd;
  border: 1px solid transparent;
  border-color: #0d6efd;
  cursor: pointer;
  outline: 0;
  display: inline-block;
  transition:
    color 0.15s ease-in-out,
    background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
  margin-bottom: 20px;
}

button:hover {
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
}

button:disabled {
  color: #999;
  border-color: #999;
  background: white;
  cursor: not-allowed;
}

label {
  padding-right: 24px;
}

.select-container p {
  color: red;
  margin-bottom: 36px;
}
