html,
body {
  font-family: sans-serif;
  background: linear-gradient(aquamarine, #9198e5);
  background-repeat: no-repeat;
  min-height: 100vh;
  margin: 0;
}

h1,
p {
  text-align: center;
  font-size: 1.5rem;
}

ul {
  background: white;
  text-align: center;
  list-style-type: none;
  padding: 2rem 1rem;
  border: 2px solid black;
}

li {
  font-size: 1.2rem;
  padding-bottom: 1rem;
}

#container {
  margin: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

form {
  font-size: 1.2rem;
  margin-top: 1rem;
}

form > div,
form > fieldset > div {
  margin-bottom: 1rem;
  padding: 1rem;
  background: white;
  border: 2px solid black;
  border-radius: 4px;
}

button {
  display: block;
  min-width: 30%;
  padding: 0 auto;
  font-size: 1.5rem;
  line-height: 1.5;
  box-shadow: 1px 1px 2px black;
}

@media screen and (max-width: 1000px) {
  li,
  form {
    font-size: 1rem;
  }

  ul {
    padding: 1rem;
  }
  li {
    padding-bottom: 0.3rem;
  }
  #container {
    gap: 0.5rem;
  }
}
