@view-transition {
    navigation: auto;
}

@keyframes slide-to-right {
    from {
        transform: translateX(0);
        z-index: 2;
    }

    to {
        transform: translateX(100vw);
        z-index: 2;
    }
}

::view-transition-old(root),
::view-transition-new(root) {
    mix-blend-mode: normal;
}

::view-transition-old(root) {
    animation: slide-to-right 0.3s;
}

::view-transition-new(root) {
    animation: none;
}