@view-transition {
    navigation: auto;
}

@keyframes slide-from-right {
    from {
        transform: translateX(100vw);
    }

    to {
        transform: translateX(0);
    }
}

::view-transition-old(root),
::view-transition-new(root) {
    mix-blend-mode: normal;
}

::view-transition-old(root) {
    animation: none;
}

::view-transition-new(root) {
    animation: slide-from-right 0.3s;
}