*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    max-inline-size: 400px;
    padding: 20px;
    text-align: center;
    margin: auto;
    line-height: 1.5;

    &.index {
        background-color: oklch(0.9529 0.0444 332);
    }

    &.app {
        background-color: oklch(0.9588 0.0617 184.24);
    }

    & a {
        color: oklch(0.0867 0.0419 261.53);
    }
}