html,
body {
  font-family: sans-serif;
  margin: 2rem;
}

main, footer {
  display: flex;
  align-content: left;
  justify-content: left;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: left;
  margin-bottom: 4rem;
}

header {
  font-size: 1em;
  min-height: 1em;
  line-height: 1.5em;
  margin: 1rem;
  max-width: 50%;
}

button, canvas {
  border-radius: 10px;
}

canvas {
  border: 2px solid black;
  margin: 2rem;
}

button {
  background: #797676;
  padding: 10px;
  margin: 10px;
  border: 0;
  color: white;
  font-size: 1em;
  max-width: 150px;
}

/* Hover effect for buttons */
button:hover,
canvas:hover {
  background: rgb(242, 134, 102);
  transition: transform 0.5s;
  transform: scale(1.3, 1.3);
  color: black;
}

#canvas-description  {
  max-width: 50%;
  text-align: left;
}

.ui-example {
  margin: 2rem;
}

.ui-example button:hover {
  transition: transform 0.5s;
  transform: scale(1.3, 1.3);
}

.canvas-title {
  display: block;
  font-size: 1.4em;
  font-weight: bold;
  margin-bottom: 1rem;
}

.canvases  {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-content: left;
  padding: 2rem;
}
